body {
  /* margin: 0; */
  padding: 0;
  font-family: Helvetica;
}
button.info {
  float: right;
}

/* NAVBAR */
.navbar {
  padding: 5px 8.5%;
}
#searchSummoner {
  float: right;
}


/* SUMMONER INFO */
#summonerInfo {
  margin: 0 8.5%;
  margin-top: 30px;
}
#summonerIconDiv {
  display: inline-block;
  width: 160px;
}
#summonerInfoDiv {
  width: 200px;
  vertical-align: top;
  display: inline-block;
}
#username {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 0;
}
#summonerIcon {
  max-width: 150px;
  max-height: 150px;
  border: 1px solid black;
}
#rankedInfoDiv {
  width: 312px;
  height: 100%;
  float: right;
  /* border: 1px solid lightgrey; */
}
#rankedImage {
  width: 150px;
  height: 150px;
  display: inline-block;
}
#rankedText {
  width: 155px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
}
.rankedText {
  margin: 0;
}
.unrankedText {
  margin-top: 48px;
}

/* MATCH HISTORY */
#matchHistory {
  margin: 0 8.5%;
  margin-top: -112px;
}
#matchHistoryText {
  text-align: center;
  font-size: 30px;
  margin: 0;
  position: relative;
  top: 30px;
}
.match {
  width: 1200px;
  height: 130px;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 20px;  
}
.championIcon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 15px;
}
.match1{ 
  width: 135px;
  display: inline-block;
}
.championName {
  text-align: center;
  margin-bottom: -13px;
}
.Win {
  background: #30ff53;
}
.Fail {
  background: #c90000;
}
.matchSummoners {
  width: 150px;
  height: 130px;
  vertical-align: top;
  float: right;
  margin-top: 1px;
}
.playerName {
  margin: 1.3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.matchScore {
  width: 160px;
  display: inline-block;
  height: 109px;
  vertical-align: top;
  margin-left: 30px;
  margin-top: 21px;
}
.score {
  text-align: center;
  position: relative;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}
.matchSummonerChamps {
  width: 30px;
  padding-top: 1px;
  float: right;
}
.playerChamp {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
}
.kda {
  text-align: center;
  margin: 0;
}
.summonerSpells {
  display: inline-block;
  height: 130px;
  width: 30px;
  vertical-align: top;
  padding-top: 30px;
}
.summonerSpell {
  height: 30px;
  width: 30px;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid black;
}
.matchItems {
  display: inline-block;
  width: 116px;
  margin-left: 30px;
  vertical-align: top;
  padding-top: 30px;
}
.item {
  width: 30px;
  height: 30px;
  border-radius: 15%;
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid black;
  vertical-align: top;
}
.emptyItem {
  width: 30px;
  height: 30px;
  border-radius: 15%;
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid black;
  background: lightgrey;
  display: inline-block;
  vertical-align: top;
}
.matchTrinket {
  display: inline-block;
  width: 32px;
  vertical-align: top;
  padding-top: 48px;
  margin-left: -13px;
}
.matchExtra {
  height: 130px;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  text-align: center;
  margin-top: -2px;
  margin-left: 25px
}
.extraText {
  margin: 2px;
}
#update {
  position: relative;
  top: 70px;
  z-index: 1;
}
#updateTime {
  position: relative;
  top: 118px;
  left: 92px;
}
.moreInfo {
  width: 50px;
  height: 130px;
  float: right;
}
.downArrow {
  width: 30px;
  height: 30px;
  position: relative;
  top: 52px;
  left: 5px;
  background-image: url("https://image.flaticon.com/icons/png/512/60/60995.png");
  background-size: cover;
}
.downArrow:hover {
  cursor: pointer;
}
#liveGame {
  float: right;
  position: relative;
  top: -12px;
}