body {
  /* margin: 0; */
  padding: 0;
  font-family: Helvetica;
}
button.info {
  float: right;
}
#summonerInfo {
  margin-top: 20px;
}
#summonerIconDiv {
  display: inline-block;
  width: 160px;
}
#summonerInfoDiv {
  width: 200px;
  vertical-align: top;
  display: inline-block;
}
#username {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 0;
}
#summonerIcon {
  max-width: 150px;
  max-height: 150px;
  border: 1px solid black;
}
#matchHistoryText {
  text-align: center;
  font-size: 30px;
  margin: 0;
}
.match {
  width: 1200px;
  height: 130px;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 20px;  
}
.championIcon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 15px;
}
.match1{ 
  width: 135px;
  display: inline-block;
}
.championName {
  text-align: center;
  margin-bottom: 0;
}
.Win {
  background: #30ff53;
}
.Fail {
  background: #c90000;
}
.matchSummoners {
  width: 150px;
  height: 100%;
  vertical-align: top;
  float: right;
}
.playerName {
  margin: 7px;
}
.matchScore {
  width: 160px;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  margin-left: 30px;
}
.score {
  text-align: center;
  position: relative;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}
.matchSummonerChamps {
  width: 30px;
  padding-top: 6px;
  float: right;
}
.playerChamp {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: inline-block;
}
.kda {
  text-align: center;
  margin: 0;
}
.summonerSpells {
  display: inline-block;
  height: 100%;
  width: 30px;
  vertical-align: top;
  padding-top: 30px;
}
.summonerSpell {
  height: 30px;
  width: 30px;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid black;
}
.matchItems {
  display: inline-block;
  width: 116px;
  margin-left: 30px;
  vertical-align: top;
  padding-top: 35px;
}
.item {
  width: 30px;
  height: 30px;
  border-radius: 15%;
  margin-right: 5px;
  border: 1px solid black;
}
.matchTrinket {
  display: inline-block;
  width: 32px;
  vertical-align: top;
  padding-top: 54px;
  margin-left: -10px;
}
.matchExtra {
  margin-left: 40px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  text-align: center;
  padding-top: 10px;
}
.extraText {
  margin: 8px;
}